@model IEnumerable<MercadinhoNuvensFofas.Models.FormaEntrega>

@{
    ViewData["Title"] = "Index";
}

<h1>Formas de Entrega</h1>

<p>
    <a asp-action="Create">Cadastrar nova forma de Entrega</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescForma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcrescForma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescForma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcrescForma)%
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdForma">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdForma">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdForma">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
