@model Tarefa_MVC_Core_CHAPELARIA.Models.Vendas

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Venda</h1>

<div>    
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_chapeu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome_chapeu)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_formapag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome_formapag)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nomecliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nomecliente)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data_compra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data_compra)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qtd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qtd)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            R$ @Model.Total.ToString("#0.00") <!-- .Replace('.',',') -->
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_vendas">Editar</a> |
    <a asp-action="DeleteAuto" asp-route-id="@Model.Id_vendas" class="btn btn-danger"> Excluir </a>
</div>
