@model IEnumerable<Tarefa_MVC_Core_CHAPELARIA.Models.Vendas>

@{
    ViewData["Title"] = "Index";
}

<h1 class = "jumbotron"> Lista de Vendas e Opções </h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success"> Comprar Chapéu </a>
</p>

<p>
    <a asp-action="Buscar" class="btn btn-outline-info" > Pesquisar Venda pelo nome do Cliente </a>
</p>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nome_chapeu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_formapag)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Nomecliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_compra)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Qtd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nome_chapeu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_formapag)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Nomecliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_compra)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Qtd)
            </td>
            <td>
                R$ @item.Total.ToString("#0.00") <!-- .Replace('.',',') -->
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_vendas">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id_vendas">Detalhes</a> |
                <a asp-action="DeleteAuto" asp-route-id="@item.Id_vendas" class="btn btn-danger"> Excluir </a>
            </td>
        </tr>
}
    </tbody>
</table>
