@model MercadinhoNuvensFofas.Models.Venda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.NomeProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bebida.NomeBeb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaEntrega.DescForma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdBeb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdBeb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPagar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPagar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVenda">Editar</a> 
</div>
