<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Loja de Brinquedos - Lua Azul</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div>
        class="container">
        <div class="jumbotron"
             <h2>Loja de Brinquedos - Lua Azul </h2>
        </div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Brinquedos", "Index", "Brinquedos")</li>
                        <li>@Html.ActionLink("Funcionários", "Index", "Funcionários")</li>
                        <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Loja de Brinquedos - Lua Azul</p>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>