@model EscolaAmarelinha.Models.Aluno

@{
    ViewData["Title"] = "Deletar";
}

<h1>Excluir</h1>

<h3>Têm certeza que deseja excluir?</h3>
<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMatriculaAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMatriculaAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MensalidadeAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MensalidadeAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CursoAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CursoAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneroAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneroAluno)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
</div>
